body {
    margin: 0;

    counter-reset: section;

    font-size: small;
}

.app {
    background-color: cornflowerblue;
    padding: 5vmin;
}

#intro {
    width: 50vmax;
    max-width: 90vw;
    text-align: left;
}

.section {
    background-color: coral;
    padding:5vmin;
    display: flex;
    flex-direction: column;
}
h2::before {
    counter-increment: section;
    content: counter(section) ' - '; /* Used to put automativ numbers before H2 text */
}

.sous_section {
    margin-bottom: 5vmin;
    background-color: rgb(65, 65, 206);
    padding:5vmin;
}

table {
    width: 100%;
}
input {
    width: 90%;
}

thead::after /* To leave some blank between head and body of a table, best (unique ?) thing I found was here https://stackoverflow.com/questions/9258754/spacing-between-thead-and-tbody/9260996 */
{
    content: "";
    display: block;
    height: 2vh;
    width: 100%;
    background: rgba(255, 255, 255, 0);
}

td {
    text-align: center;
}

/* Pour chaque personne */
/* caution : doesn't work with presence table */
.invitees_list_buttons_cell {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#speed_dating_result_grid {
    display: grid;
}
.speed_dating_result_grid_cell {
    border-left: solid coral thin;
    border-top: solid coral thin;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
#je_suis {
    grid-column: 1 / 3;
    grid-row: 2;
    border-bottom: solid coral thin;
}
#je_cherche {
    grid-column: 3 / 15;
    grid-row: 2;
    border-right: solid coral thin;
    border-bottom: solid coral thin;
}
#round_1 {
    grid-column: 3 / 6;
    grid-row: 1;
}
#round_2 {
    grid-column: 6 / 9;
    grid-row: 1;    
}
#round_3 {
    grid-column: 9 / 12;
    grid-row: 1;
}
#round_4 {
    grid-column: 12 / 15;
    grid-row: 1;
    border-right: solid coral thin;
}

/* Pour les cellules des tableaux */
table {
    border-collapse: collapse;
  }
.styled_td {
    border-bottom: thin solid rgb(102, 100, 100);
    border-top: thin solid rgb(102, 100, 100);
}
.styled_td_narrow {
    border-bottom: thin solid rgb(102, 100, 100);
    border-top: thin solid rgb(102, 100, 100);
    width: 7%;
}